<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="<?php echo base_url() ?>style/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="<?php echo base_url() ?>style/assets/css/admin.css">
    <script type="text/javascript" src="<?php echo base_url()?>org/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="<?php echo base_url()?>org/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript">
        window.UEDITOR_HOME_URL = "<?php echo base_url()?>org/ueditor/";
        window.onload =function(){
            window.UEDITOR_CONFIG.initialFrameWidth=750;
            window.UEDITOR_CONFIG.initialFrameHeight=600;
            UE.getEditor('content');
        }
    </script>


</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">发表文章</strong></div>
  </div>
  
        <form class="am-form" action="<?php echo site_url('admin/article/send')?>" method="post">
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              文章标题
            </div>
            <div class="am-u-sm-8 am-u-md-4">
              <input type="text" class="am-input-sm" name="title" value="<?php echo set_value('title')?>">
            </div>
            <div class="am-hide-sm-only am-u-md-6 am-text-danger">	<?php echo form_error('title')?></div>
          </div>
			<div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-2 am-text-right">所属类别</div>
          <div class="am-u-sm-8 am-u-md-10">
            <select data-am-selected="{btnSize: 'sm'}" name="cid">
                <?php foreach($category as $v):?>
              <option value="<?php echo $v['cid']?>"><?php echo $v['cname']?></option>
              <?php endforeach ?>
            </select>
          </div>
        </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              内容摘要
            </div>
            <div class="am-u-sm-8 am-u-md-4">
              <textarea rows="10"  name="info" ><?php echo set_value('info')?></textarea>
            </div>
         <div class="am-hide-sm-only am-u-md-6 am-text-danger"><?php echo form_error('info')?></div>
          </div>

          <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-12 am-u-md-2 am-text-right admin-form-text">
              内容描述
            </div>
            <div class="am-u-sm-12 am-u-md-7">
              <textarea rows="10" id="content" name="content"><?php echo set_value('content')?></textarea>
            </div>
           <div class="am-hide-sm-only  am-text-danger"><?php echo form_error('content')?></div>
          </div>
      </div>
    </div>
  </div>

  <div class="am-margin">
    <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
  </div>
</form>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="<?php echo base_url() ?>style/assets/js/polyfill/rem.min.js"></script>
<script src="<?php echo base_url() ?>style/assets/js/polyfill/respond.min.js"></script>
<script src="<?php echo base_url() ?>style/assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="<?php echo base_url() ?>style/assets/js/jquery.min.js"></script>
<script src="<?php echo base_url() ?>style/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="<?php echo base_url() ?>style/assets/js/app.js"></script>
</body>
</html>
