<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>LRNote</title>
    <link rel="stylesheet" href="<?php echo base_url() ?>style/index/css/bootstrap.css"/>
    <link rel="stylesheet" href="<?php echo base_url() ?>style/index/css/comm.css"/>
    <script src="<?php echo base_url() ?>style/index/js/jquery.min.js"></script>
    <script src="<?php echo base_url() ?>style/index/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active">
                    <a href="<?php echo site_url()?>">Home</a>
                </li>
                <li role="presentation">
                    <a href="#">About</a>
                </li>
                <li role="presentation">
                    <a href="<?php echo site_url('admin/login/')?>">Login</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">
            LRNote
        </h3>

    </div>
    <div class="jumbotron">
        <h1> Hello World</h1>
        <p>
            <a class="btn btn-success" role="button" href="#">More</a>
        </p>

    </div>